{{ define "meta_tags" }}
    <meta name="description" content="The personal website of Fırat Batar">
    <meta name="keywords" content="Fırat Batar">
    {{/*  Meta tags for Open Graph  */}}
    <meta property="og:title" content="Fırat Batar's Website">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://firatbatar.com">
    {{/*  <meta property="og:image" content="https://firatbatar.com/images/firatbatar.jpg">  */}}
    <meta property="og:description" content="The personal website of Fırat Batar.">

{{ end }}

{{ define "main" }}

{{ $challenges := .Site.GetPage "challenge/" }}

{{ if $challenges }}
{{ partial "sections/challenges.html" $challenges }}
{{ end }}

{{ end }}