{{ define "meta_tags" }}

    <meta name="description" content="Fırat Batar's p5.js Challenges">
    <meta name="keywords" content="Fırat Batar, p5.js, code challenge">
    {{/*  Meta tags for Open Graph  */}}
    <meta property="og:title" content="p5.js Challenges">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://firatbatar.com/p5-challenges/challenge">
    <meta property="og:site_name" content="firatbatar/p5-challenges"/>
    <meta property="og:description" content="Fırat Batar's p5.js Challenges.">
    
{{ end }}

{{ define "main" }}

<h1 class="text-center my-5">{{ .Title }}</h1>

{{ range .Pages }}
<div class="container mb-4" style="height: fit-content;">
    <div class="p-0 container-fluid bg-body-tertiary rounded-3 row h-100">
        <div class="col-lg-4 ps-0">
            {{ $image := .Resources.GetMatch .Params.coverImage }}
            {{ if not $image }}
            {{ $image = resources.Get .Site.Params.placeholderImage }}
            {{ end }}
            <img src="{{ $image.RelPermalink }}" alt="{{ lower .Title }}-img" class="w-100 h-auto">
        </div>

        <div class="col d-flex flex-column justify-content-between my-3" style="max-height: 100%;">
            <h2>{{ .Title }}</h2>
            <span>
                {{ .Summary | markdownify }}
            </span>

            <a href="{{ .RelPermalink }}" class="btn btn-primary align-self-end">
                Details
                <i class="fa-solid fa-caret-right" style="color: #ffffff;"></i>
            </a>
        </div>
    </div>
</div>
{{ end }}

{{ end }}